<a href=""><div class="big">
	<div class="venir"><p>A venir</p></div>
</div></a>

<div class="a">
        <div id="promos">
          <h4> Promos de la semaine </h4>
        </div>

<div class="testp animcont" id="100">
	<div class="box1 slideleft slide-in">
		<div class="ok">
			<div class="wow">
				<p class="title">BORDERLANDS 3</p>
				<p>2K Games | Gearbox Software</p>
				<p>Le shooter-looter original est de retour avec ses trilliards de flingues pour une aventure complètement folle ! Affrontez de nouveaux mondes et ennemis dans la peau de l'un des quatre Chasseurs de l'Arche proposés. Jouez en solo ou en coop pour amasser du butin et sauver la galaxie d'une secte terrifiante et de ses impitoyables leaders.</p>
			</div>
				<a class="prix" href="">
					<div class="bout">
						<div class="promo"><p>-30%</p></div>
						<div class="reduc"><p>59,99€</p></div>
						<div class="button"><p>41,99€</p></div>
					</div>
				</a>
		</div>
		<%= image_tag "borderlands-3-aff.jpg" ,class: "image-test" %>
	</div>
	<div class="mmm slideright slide-in">
		<div class="box2">
			<%= image_tag "Rebel-Galaxy-Outlaw.jpg" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Rebel Galaxy Outlaw</p>
					<p>Double Damage Games</p>
					<p>Rebel Galaxy Outlaw est un jeu vidéo de combat et de commerce spatiaux.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="promo"><p>-30%</p></div>
							<div class="reduc"><p>19,99€</p></div>
							<div class="button"><p>13,99€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "097535.jpg" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">The Walking Dead</p>
					<p>Skybound Games | Telltale Games</p>
					<p>The Walking Dead: The Telltale Definitive Series regroupe les 4 saisons, 400 Days et The Walking Dead: Michonne</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="promo"><p>-30%</p></div>
							<div class="reduc"><p>19,99€</p></div>
							<div class="button"><p>13,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
</div>
</div>

<div class="a">
        <div id="recommandes">
          <h5> Recommandés pour vous </h5>
        </div>

<div class="testr animcont" id="650">
	
	<div class="mmm slideleft slide-in">
		<div class="box2">
			<%= image_tag "Tomb R@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Rise of The Tomb Raider</p>
					<p>Square Enix</p>
					<p>Rise of the Tomb Raider: 20 Year Celebration inclut le jeu de base ainsi que le Season Pass et ses contenus inédits.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>49,99€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "Hitman -1@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">HITMAN 2</p>
					<p>Warner Bros</p>
					<p>Incarnez l'Agent 47, parcourez le monde et traquez vos cibles dans les lieux exotiques du jeu HITMAN™ 2.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>11,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
	<div class="box1 slideright slide-in">
		<div class="ok">
			<div class="wow">
				<p class="title">Rocket League</p>
				<p>Psyonix</p>
				<p>Football et voitures font bon ménage dans cette suite basée sur les lois de la physique du grand classique tant apprécié, Supersonic Acrobatic Rocket-Powered Battle-Cars !</p>
			</div>
				<a class="prix" href="">
					<div class="bout">
						<div class="button2"><p>19,99€</p></div>
					</div>
				</a>
		</div>
		<%= image_tag "Rocket League@3x.png" ,class: "image-test" %>
	</div>
</div>
</div>


<div class="a">
        <div id="vosamis">
          <h8> Vos amis y ont joué </h8>
        </div>

<div class="testv animcont" id="1130">
	
	<div class="mmm slideleft slide-in">
		<div class="box2">
			<%= image_tag "Civ VI-1@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Sid Meier’s Civilization VI</p>
					<p>2K, Aspyr</p>
					<p>Choisissez votre dirigeant parmi un choix de 20 personnages historiques, incluant Catherine de Médicis.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>59,99€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "The Witcher -1@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">The Witcher 3: Wild Hunt</p>
					<p>CD PROJEKT RED</p>
					<p>Alors que la guerre fait rage à travers les royaumes du Nord, vous acceptez le contrat de votre vie.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>29,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
	<div class="mmm slideright slide-in">
		<div class="box2">
			<%= image_tag "CS GO@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Counter-Strike : Global Offensive</p>
					<p>Valve</p>
					<p>Counter-Strike: Global Offensive (CS: GO) expands upon the team-based action gameplay created 19 years ago.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>13,25€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "Half Life ²@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Half-Life 2</p>
					<p>Valve</p>
					<p>Une combinaison de scènes d'action frénétiques et d'un scénario dans lequel le joueur est plongé dès le premier instant.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>8,19€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
</div>
</div>


<div class="a">
        <div id="jeuxpop">
          <h7> Jeux populaires </h7>
        </div>

<div class="testj animcont" id="1650">
	
	<div class="mmm slideleft slide-in">
		<div class="box2">
			<%= image_tag "Watch Dogs -1@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Watch_Dogs 2</p>
					<p>Ubisoft</p>
					<p>Bienvenue à San Francisco ! Incarnez Marcus, un jeune hacker surdoué, et rejoignez le groupe de pirates informatiques le plus actif au monde, DedSec. </p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>17,99€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "Planet Coaster@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Planet Coaster</p>
					<p>Frontier Developments</p>
					<p>Planet Coaster® - l'avenir des jeux de simulation de montagnes russes est arrivé !</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>37,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
	<div class="mmm slideright slide-in">
		<div class="box2">
			<%= image_tag "F1 2019@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">F1 2019</p>
					<p>Codemasters</p>
					<p>F1® 2019, le jeu officiel, vous met au défi de battre vos rivaux dans le jeu de F1® le plus ambitieux de l'histoire de Codemasters.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>13,25€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "Monster Hunter World@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Monster Hunter World</p>
					<p>Capcom Co.</p>
					<p>"Monster Hunter: World" offre une dimension dejeu et une liberté sans commune mesure avec les précédents épisodes.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>59,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
</div>
<div class="testh animcont" id="2050">
	<div class="mmm slideleft slide-in">
		<div class="box2">
			<%= image_tag "Enter The Gungeon@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Enter The Gungeon</p>
					<p>Devolver Digital</p>
					<p>Enter the Gungeon est un jeu d'exploration d'un donjon où une horde d'aventuriers tiraille à tout va, pille, esquive et renverse les tables.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>14,99€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "Gmod@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Garry's Mod</p>
					<p>Valve</p>
					<p>Garry's Mod est une boîte à outils graphique. À l'inverse des jeux normaux, aucun but ni objectif n'est prédéfini. Nous vous donnons les outils et vous faites le reste.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>9,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
	<div class="mmm slideright slide-in">
		<div class="box2">
			<%= image_tag "Eurotruck Simulator 2@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">Eurotruck Simulator 2</p>
					<p>SCS Software</p>
					<p>Voyagez à travers l'Europe en tant que roi de la route, un chauffeur routier qui livre d'importantes cargaisons vers des destinations très lointaines ! </p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>19,99€</p></div>
						</div>
					</a>
			</div>
			
		</div>
		<div class="box2">
			<%= image_tag "Insurgency@3x.png" ,class: "image-test2" %>
			<div class="ok2">
				<div class="wow">
					<p class="title">INSURGENCY</p>
					<p>New World Interactive</p>
					<p>Take to the streets for intense close quarters combat, where a team's survival depends upon securing crucial strongholds and destroying enemy supply.</p>
				</div>
					<a class="prix" href="">
						<div class="bout">
							<div class="button2"><p>59,99€</p></div>
						</div>
					</a>
			</div>
		</div>
	</div>
</div>
</div>